.navbar__list {
    padding: 0;
    list-style: none;
    margin: 27px 0px;
    text-align: center;
}

.navbar__item {
    display: inline-block;
    margin-left: 72px;
}

.navbar__item_first {
    margin: 0;
}

.navbar__link {
    color: red;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.site-info__title {
    text-transform: uppercase;
    text-align: center;
    color: #373737;
    margin-top: 48px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
}


.site-info__text_first {
    color: #373737;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 38px 68px 28px 68px;
    text-align: center;
}

.site-info__text {
    color: #373737;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin-left: 68px;
    margin-right: 68px;
    margin-bottom: 66px;
}

.site-info__button {
    text-align: center;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    border-radius: 4px;
    padding-top: 18px;
    padding-bottom: 17px;
    width: 191px;
}

.site-info__button_link {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    color: white;
    line-height: 12px;

}

.footer-page__text {
    color: #373737;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    margin-right: 105px;
    margin-top: 82px;
    margin-bottom: 29px;
}




